In [2]:
library(tidyverse)
library(repr)
library(rvest)
library(stringr)
library(dbplyr)
library(DBI)
library(RPostgres)
library(lubridate)
options(repr.matrix.max.rows = 6)

Attaching package: ‘dbplyr’


The following objects are masked from ‘package:dplyr’:

    ident, sql


Warning message:
“package ‘RPostgres’ was built under R version 4.0.2”

Attaching package: ‘lubridate’


The following objects are masked from ‘package:base’:

    date, intersect, setdiff, union

In [52]:

# Title: Factors Contributing to Algerian Forest Fires
# Introduction:
forest_fires_untidy <- read_delim(file = "Algerian_forest_fires_dataset_UPDATE.csv", skip =1,  delim = ",", col_names = TRUE) 
   
bejaia_region <- forest_fires_untidy %>%
    slice(1:122) %>%
    mutate(region = "bejaia")
bejaia_region

sidi_bel_region <- forest_fires_untidy %>%
    slice(125:246) %>%
    mutate(region = "sidi bel abbes")
    
sidi_bel_region

forest_fires <- bejaia_region +

# fire_data <- forest_fires %>%
#     select(day, month, year, BUI, Temperature, Rain)

Parsed with column specification:
cols(
  day = col_character(),
  month = col_character(),
  year = col_character(),
  Temperature = col_character(),
  ` RH` = col_character(),
  ` Ws` = col_character(),
  `Rain ` = col_character(),
  FFMC = col_character(),
  DMC = col_character(),
  DC = col_character(),
  ISI = col_character(),
  BUI = col_character(),
  FWI = col_character(),
  `Classes  ` = col_character()
)

Warning message:
“2 parsing failures.
row col   expected     actual                                       file
123  -- 14 columns 1 columns  'Algerian_forest_fires_dataset_UPDATE.csv'
168  -- 14 columns 13 columns 'Algerian_forest_fires_dataset_UPDATE.csv'
”

    day month year Temperature  RH  Ws Rain  FFMC DMC DC  ISI BUI FWI
1   01  06    2012 29          57  18  0     65.7 3.4 7.6 1.3 3.4 0.5
2   02  06    2012 29          61  13  1.3   64.4 4.1 7.6 1   3.9 0.4
3   03  06    2012 26          82  22  13.1  47.1 2.5 7.1 0.3 2.7 0.1
⋮   ⋮   ⋮     ⋮    ⋮           ⋮   ⋮   ⋮     ⋮    ⋮   ⋮   ⋮   ⋮   ⋮
120 28  09    2012 32          47  14  0.7   77.5 7.1 8.8 1.8 6.8 0.9
121 29  09    2012 26          80  16  1.8   47.4 2.9 7.7 0.3 3   0.1
122 30  09    2012 25          78  14  1.4   45   1.9 7.5 0.2 2.4 0.1
    Classes     region
1   not fire    bejaia
2   not fire    bejaia
3   not fire    bejaia
⋮   ⋮           ⋮
120 not fire    bejaia
121 not fire    bejaia
122 not fire    bejaia

    day month year Temperature  RH  Ws Rain  FFMC DMC DC   ISI BUI FWI
1   01  06    2012 32          71  12  0.7   57.1 2.5 8.2  0.6 2.8 0.2
2   02  06    2012 30          73  13  4     55.7 2.7 7.8  0.6 2.9 0.2
3   03  06    2012 29          80  14  2     48.7 2.2 7.6  0.3 2.6 0.1
⋮   ⋮   ⋮     ⋮    ⋮           ⋮   ⋮   ⋮     ⋮    ⋮   ⋮    ⋮   ⋮   ⋮
120 28  09    2012 27          87  29  0.5   45.9 3.5 7.9  0.4 3.4 0.2
121 29  09    2012 24          54  18  0.1   79.7 4.3 15.2 1.7 5.1 0.7
122 30  09    2012 24          64  15  0.2   67.3 3.8 16.5 1.2 4.8 0.5
    Classes      region
1   not fire     sidi bel abbes
2   not fire     sidi bel abbes
3   not fire     sidi bel abbes
⋮   ⋮            ⋮
120 not fire     sidi bel abbes
121 not fire     sidi bel abbes
122 not fire     sidi bel abbes